services:
  postgres:
    image: postgres:15
    container_name: bd-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - microservices-net

  app:
    build: .
    container_name: url-service
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
#    environment:
#      - STORAGE_TYPE=inmemory
    ports:
      - "8082:8082"
    networks:
      - microservices-net
    restart: unless-stopped

volumes:
  pgdata:

networks:
  microservices-net:
    driver: bridge
