# PostgreSQL настройки
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_DB=postgres

# URI для подключения к базе
DB_URI=postgres://user:password@postgres:5432/postgres?sslmode=disable

# Путь к миграциям
MIGRATION_DIR=internal/repo/migrations

# Тип хранения (inmemory или persistent)
STORAGE_TYPE=persistent